<div class='container-fluid'>
	<div class='pending-homepage row'>
		<div class='homepage-block col-md-4'>
			<p>Hello</p>
		</div>

		<div class='homepage-block col-md-4'>
			<p>HI</p>
		</div>

		<div class='homepage-block col-md-4'>
			<p>HI</p>
		</div>

		<div class='homepage-block col-md-4'>
			<p>hi</p>
		</div>

		<div class='homepage-block col-md-4'>
			<p>hi</p>
		</div>
	</div>

	<div class='pending-homepage'>
		<div>
			<p>hi</p>
		</div>
	</div>
</div>
